@variant dark {
  --color-primary: oklch(65.69% 0.131 151.328deg); /* green-500 */
  --color-primary-hover: oklch(70.71% 0.131 151.328deg); /* green-400 */
  --color-primary-light: oklch(44.8% 0.119 151.328deg); /* green-800 */
  --color-primary-lighter: oklch(35.39% 0.134 151.328deg); /* green-900 */
  --color-bg-primary: oklch(17.76% 0.013 286.067deg); /* gray-900 */
  --color-bg-secondary: oklch(22.18% 0.013 286.067deg); /* gray-800 */
  --color-bg-tertiary: oklch(27.84% 0.013 286.067deg); /* gray-700 */
  --color-bg-accent: oklch(22.18% 0.020 151.328deg); /* green-900 */
  --color-text-primary: oklch(96.27% 0.007 106.423deg); /* gray-100 */
  --color-text-secondary: oklch(71.96% 0.013 264.364deg); /* gray-400 */
  --color-text-tertiary: oklch(62.8% 0.014 264.364deg); /* gray-500 */
  --color-text-inverse: oklch(17.76% 0.013 286.067deg); /* gray-900 */
  --color-border-primary: oklch(39.18% 0.016 286.067deg); /* gray-600 */
  --color-border-secondary: oklch(34.73% 0.015 286.067deg); /* gray-700 */
  --color-border-accent: oklch(44.8% 0.119 151.328deg); /* green-800 */
  --color-success: oklch(70.71% 0.131 151.328deg); /* green-400 */
  --color-warning: oklch(84.32% 0.154 83.632deg); /* yellow-300 */
  --color-error: oklch(69.71% 0.257 29.234deg); /* red-500 */
  --color-info: oklch(74.62% 0.123 252.417deg); /* blue-400 */
  --color-hover: oklch(27.84% 0.013 286.067deg); /* gray-700 */
  --color-active: oklch(34.73% 0.015 286.067deg); /* gray-600 */
  --color-focus: oklch(65.69% 0.131 151.328deg); /* green-500 */
  --color-overlay: oklch(0% 0 0deg / 70%); /* black с прозрачностью 70% */
  --color-disabled: oklch(52.25% 0.017 267.218deg); /* gray-600 */
}
